* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #222;
}
a:hover {
    text-decoration: underline;
}
a:visited {
    color: #222;
}
/* Nav bar */

#navbar {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
}

#navbar ul {
    display: flex;
    align-items: baseline;
    list-style: none;
    margin-right: 130px;
}

#navbar ul li a {
    font-size: 12px;
    margin: 0.75rem;
}

/* Centar ekrana */
.container {
    display: flex;
    flex-direction: column;
    height: 550px;
    justify-content: center;
    text-align: center;
}

.search-bar input {
    width: 30%;
    margin-top: 37px;
    margin-bottom: 18px;
    font-size: 16px;
    border-radius: 13px;
    padding: 6px;
    line-height: 27px;
    background-color: white;
    
}

.search-bar button {
    margin: 11px 4px;
    text-align: center;
    padding: 0 16px;
    height: 36px;
    width: 140px;
    background-color: #f2f2f2;
    line-height: 27px;
    border-radius: 5px;
    color: #5F6368;
    font-size: 14px;
    border: 1px solid #f2f2f2;
}
.search-bar button:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-image: linear-gradient(top,#f8f8f8,#f1f1f1);
    background-color: #f8f8f8;
    border: 1px solid#c6c6c6;
    color:#222;
}

/* Donji bar */

.settingsbar {
    display: flex;
    justify-content: space-between;
    background-color: #f2f2f2;
    padding: 1rem;
    font-size: 12px;
    
}

.settingsbar a {
    color: #5f6368;
    padding-left: 27px;
}

.settingsbar ul {
    display: flex;
    list-style: none;
}
